{{ define "content" }}
<div class="main-content-section clearfix">
    <div id="primary">

        <h3>BlockExplorer NetInfo</h3>
        <p>Wait a few minutes for the data being reloaded</p>

        <div id="map" style="width:100%; height:480px; margin:0;"></div>


        <p>{{index .Data "Chain_Node_List"}}</p>


        <p>json_str: <br><code>{{index .Data "json_str"}}</code></p>

    </div>
    

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ6xJekHT2wloKbuCSH1B4-rlZNq4Dmms&callback=initMap" async defer></script>
<script>
    var map;
    var infowindow;


    jQuery(document).ready(function(){
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            // center: new google.maps.LatLng(-33.92, 151.25),
            center: new google.maps.LatLng(36.8857, -76.2599),
            mapTypeId: google.maps.MapTypeId.satellite
        });

        infowindow = new google.maps.InfoWindow();

        var allIPs = JSON.parse( {{index .Data "Chain_Node_List"}} );

        //////////////////////////////////////////////////////////////
        // http://ip-api.com/docs/api:batch <== this supports batch of IPs ( up to 100 in a request) <== DOESNT WORK ANYMORE
        // https://freegeoip.net/json/glogchain.tk

        for (i=0; i<allIPs.length; i++) {
            $.ajax({
                type: "GET", crossDomain: true,
                url: "https://freegeoip.net/json/" + allIPs[i],
                data: '',
                success: function(dataXY) {
                    /**
                     * {"ip":"163.172.170.188","country_code":"FR","country_name":"France","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"Europe/Paris","latitude":48.8582,"longitude":2.3387,"metro_code":0}
                     */

                    //////////////////////////////////////////////////////////////
                    // map it using Google maps
                    var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(dataXY.latitude, dataXY.longitude),
                            map: map
                        });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(dataXY.latitude + ", " + dataXY.longitude);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }); // end $.ajax
        };
    });

    function initMap() {
//        alert("initMap");
    }
</script>
{{ end }}