{{ define "footer" }}

<div class="footer-socket-wrapper clearfix">
    <div class="inner-wrap">
        <div class="footer-socket-area">
            <!--<div class="footer-socket-right-section">-->
                <!--<div class="social-links clearfix">-->
                    <!--<ul>-->
                        <!--<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
                        <!--<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                        <!--<li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>-->
                        <!--<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>-->
                        <!--<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>-->
                        <!--<li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <div class="footer-socket-left-sectoin">
                <div class="copyright">Copyright &copy; 2017 <a href="###" title="Glogchain" ><span>Glogchain</span></a>. All rights reserved.<br>
                    Theme: ColorMag by <a href="http://themegrill.com/themes/colormag" target="_blank" title="ThemeGrill" rel="designer"><span>ThemeGrill</span></a>.
                    Powered by <a href="https://tendermint.com/" target="_blank" title="Tendermint"><span>Tendermint</span></a>.</div>
            </div>
        </div>
    </div>
</div>
{{ end }}