{{ define "content" }}
<!--<div class="front-page-top-section clearfix">-->
    <!--<div class="widget_slider_area">-->
        <!--<section class="widget widget_featured_slider widget_featured_meta clearfix">-->
            <!--{{ template "featured_posts" }}-->
        <!--</section>-->
    <!--</div>-->

    <!--<div class="widget_beside_slider">-->
        <!--<section class="widget widget_highlighted_posts widget_featured_meta clearfix">-->
            <!--{{ template "highlighted_posts" }}-->
        <!--</section>-->
    <!--</div>-->
<!--</div>-->

<div class="main-content-section clearfix">
    <div id="primary">
        {{ template "primary"}}
    </div>

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>
{{ end }}