{{ define "content" }}
<div class="main-content-section clearfix">
    <div id="primary">

        {{ $DataType := GetType . }}

        <h3>Account Create</h3>
        <p>You can you <a href="/account/generate_keypair"><b>Key Pairs Generation Tool</b></a> to create a keypair for you!</p>
        {{ if eq $DataType "web.ActionResult" }}
            {{ if eq .Status "success" }}
                <div class="alert alert-success" role="alert">Account created successful!</div>
            {{ else }}
                <div class="alert alert-danger" role="alert">{{ .Message }}</div>
            {{ end }}
        {{ end }}
        <form action="/account/create" method="POST">
            <p>
                <label for="username">Username (a-z and 0-9) <span class="required">*</span></label>
                <input id="username" name="username" type="text" value='{{index .Data "username"}}' size="30" maxlength="32" aria-required="true" required="required">
            </p>
            <p>
                <label for="prikey">PrivateKey (64 bytes in hex string = 128 chars ) <span class="required">*</span></label>
                <input id="prikey" name="prikey" type="text" value='{{index .Data "pubkey"}}' size="30" maxlength="128"  aria-required="true" required="required">
            </p>
            <p class="form-submit">
                <input id="submit" name="submit" type="submit" class="submit" value="Submit">
            </p>
        </form>


        <hr>
<code>
///// User for testing
------------------------------------------------------------
secret=				user1
priKeyHex=			0A041B9462CAA4A31BAC3567E0B6E6FD9100787DB2AB433D96F6D178CABFCE90009E64C1B4731BE7DF39A40D5660D84E23885FC465DB5DDAD425789C68CF1A8E
PubKey KeyString=	009E64C1B4731BE7DF39A40D5660D84E23885FC465DB5DDAD425789C68CF1A8E
PubKey Address=		1563AB099BDFF3CF9B6AAB012C2EBFACC21F8A80
------------------------------------------------------------
secret=				user2
_priKeyHex=			6025D18FE48ABD45168528F18A82E265DD98D421A7084AA09F61B341703901A38F1F86AECD14AEADF675FADEDE7837C08A8B2F2AB14E93F190CB8D8A536E587D
PubKey KeyString=	8F1F86AECD14AEADF675FADEDE7837C08A8B2F2AB14E93F190CB8D8A536E587D
ubKey Address=		D9C3BBBC7914BB442943685975BC807475BF8F58
------------------------------------------------------------
secret=				user3
_priKeyHex=			5860FAF02B6BC6222BA5ACA523560F0E364CCD8B67BEE486FE8BF7C01D492CCB4955A9608DCF3BB5D387E41153B8A74134021DB8EEBB2308711FFBE66F5FE91E
PubKey KeyString=	4955A9608DCF3BB5D387E41153B8A74134021DB8EEBB2308711FFBE66F5FE91E
PubKey Address=		7F24C3F20F100B58A4FDDC37243596A948540234
------------------------------------------------------------
secret=			    user4
_priKeyHex=			5269EF980DE47819BA3D14340F4665262C41E933DC92C1A27DD5D01B047AC80EA10ACA5B607ED50BDFC207CBD9FABE88DE504DEF624B7A95132964CA9E44E565
PubKey KeyString=	A10ACA5B607ED50BDFC207CBD9FABE88DE504DEF624B7A95132964CA9E44E565
PubKey Address=		5982FFA806942B34BEED3DB963A807ADF6B607D9
------------------------------------------------------------
secret=			    user5
_priKeyHex=			5A39BEAD318F306939ACB1D016647BE2E38C6501C58367FDB3E9F52542AA24426ABB64B3519FFAC8AA58ABC3641166540F27DFFDD6F79BF3A45B823A5CDAF73E
PubKey KeyString=	6ABB64B3519FFAC8AA58ABC3641166540F27DFFDD6F79BF3A45B823A5CDAF73E
PubKey Address=		7E66ADB011C5D0EC75A911A62BBA5FF579062858
------------------------------------------------------------
secret=			    user6
_priKeyHex=			ECB48A1CC94F951252EC462FE9ECC55C3EF123FADFE935661396C26A45A5809DB0D45A7F96A8B6ED73CFD76CECB5393F913B0B523D533C16DDF43AEB66EFA373
PubKey KeyString=	B0D45A7F96A8B6ED73CFD76CECB5393F913B0B523D533C16DDF43AEB66EFA373
PubKey Address=		47826A1A381FDA8F21B515DEDEFBA7CEB208B66C
</code>

    </div>

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>
{{ end }}