{{ define "content" }}
<div class="main-content-section clearfix">
    <div id="primary">
        {{ $result := index .Data "result" }}
        {{ $result_data := index $result 1 }}
        {{ $block := index $result_data "block" }}
        {{ $block_header := index $block "header" }}

        <h3>BlockExplorer BlockInfo #{{index $block_header "height"}}</h3>
        <!--<p>json_str: <br><code>{{index .Data "json_str"}}</code></p>-->

        <div class="row-fluid">
            <div class="span6">
                <table class="table table-striped">
                    <tbody>
                        <tr><th colspan="2">Summary</th></tr>
                        <tr><td>chain_id</td><td>{{index $block_header "chain_id"}}</td></tr>
                        <tr><td>height</td><td>{{index $block_header "height"}}</td></tr>
                        <tr><td>time</td><td>{{index $block_header "time"}}</td></tr>
                        <tr><td>num_txs</td><td>{{index $block_header "num_txs"}}</td></tr>
                        <tr><td>last_commit_hash</td><td>{{index $block_header "last_commit_hash"}}</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="span6">
                <table class="table table-striped">
                    <tbody>
                        <tr><th colspan="2">Hashes</th></tr>
                        <tr><td>data_hash</td><td>{{index $block_header "data_hash"}}</td></tr>
                        <tr><td>validators_hash</td><td>{{index $block_header "validators_hash"}}</td></tr>
                        <tr><td>app_hash</td><td>{{index $block_header "app_hash"}}</td></tr>
                    </tbody>
                </table>
            </div>

        </div>

        {{ $block_data := index $block "data" }}
        {{ $block_data_txs := index $block_data "txs" }}
        <div style="width:100%; clear:both;">
            <h4>Transactions</h4>
            {{range $index, $tx := $block_data_txs}}
            <div>
                <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
                    <tbody>
                        <tr><th colspan="3" align="left">6b98266dfabb612e217431ffd60605de535df3db05fac208dab561f46b98de41 <span class="pull-right">2017-01-27 15:04:39</span></th></tr>
                        <tr>
                            <td width="500px" class="txtd hidden-phone"><b>No Inputs (Newly Generated Coins)</b></td>
                            <td width="48px" class="hidden-phone" style="padding:4px;text-align:center;vertical-align:middle;"><img src="/Resources/arrow_right_green.png"></td>
                            <td class="txtd">12.52048198 BTC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{end}}
        </div>

    </div>

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>
{{ end }}