{{ define "content" }}
<div class="main-content-section clearfix">
    <div id="primary">

        <div id="content" class="clearfix">

            <!--<header class="page-header"><h1 class="page-title"><span>Category name</span></h1></header>-->

            <div class="article-container">
                {{ with $itemlist := . }}
                {{range $index, $elmt := $itemlist}}
                <article class="post type-post status-publish format-standard has-post-thumbnail hentry">
                    <div class="featured-image">
                        <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">
                            <img width="800" height="445" src="{{$elmt.Thumb}}" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="">
                        </a>
                    </div>
                    <div class="article-content clearfix">
                        <div class="above-entry-meta">
                            <span class="cat-links">
                                {{with $categories := GetCategoryOfPost $elmt.Cat}}
                                {{range $categories}}
                                    <a href="/?cat={{.ID}}" rel="category tag">{{.ID}}</a>&nbsp;
                                {{end}}
                                {{end}}
                            </span>
                        </div>

                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                            </h2>
                        </header>

                        <div class="below-entry-meta">
                            <span class="posted-on"><a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                            {{with $author := GetUser $elmt.PostAuthor}}
                            <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="?author=1" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a></span></span>
                            {{end}}
                            <span class="comments"><a href="/post?p={{$elmt.ID}}#respond"><i class="fa fa-comment"></i> 0 Comment</a></span>
                            <span class="edit-link"><i class="fa fa-edit"></i><a class="post-edit-link" href="/post?p={{$elmt.ID}}&action=edit">Edit</a></span></div>
                        <div class="entry-content clearfix">
                            <p>{{StringCut .PostContent 160 }}</p>
                            <a class="more-link" title="{{$elmt.PostTitle}}" href="/post?p={{$elmt.ID}}"><span>Read more</span></a>
                        </div>
                    </div>
                </article>
                {{end}}
                {{end}}
            </div>

            <ul class="default-wp-page clearfix">
                <li class="previous"><a href="###">← Previous</a></li>
                <li class="next"></li>
            </ul>

        </div>
    </div>

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>
{{ end }}