{{ define "content" }}
<div class="main-content-section clearfix">
    <div id="primary">

        <h3>Leave a Comment</h3>
        <p>Create a new comment</p>
        {{ $DataType := GetType . }}
        {{ if eq $DataType "web.ActionResult" }}
            {{ if eq .Status "success" }}
                <div class="alert alert-success" role="alert">{{ .Message }}</div>
            {{ else }}
                <div class="alert alert-danger" role="alert">{{ .Message }}</div>
            {{ end }}
        {{ end }}
        <form name="frmCommentCreate" action="/comment/create" method="POST" novalidate>
            <div>
                <label for="p">PostID <span class="required">*</span></label>
                <input id="p" name="p" type="text" value='{{ .Data.PostID }}' aria-required="true" required="required">
            </div>
            <div>
                <label for="c">Parent Comment</label>
                <input id="c" name="c" type="text" value='{{ .Data.Parent }}'>
            </div>
            <di>
                <label for="CommentContent">Content <span class="required">*</span></label>
                <textarea id="CommentContent" name="CommentContent" rows="8" aria-required="true" required="required">{{ .Data.Content }}</textarea>
            </di>
            <p class="form-submit">
                <input id="submit" name="submit" type="submit" class="submit" value="Submit">
            </p>
        </form>
    </div>

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>

<script type='text/javascript'>
    jQuery(document).ready(function(){
        var simplemde = new SimpleMDE({ element: jQuery("#CommentContent")[0] });
    });
</script>
{{ end }}