{{ define "featured_posts" }}
<div class="widget_slider_area_rotate">
    {{with $itemlist := GetFeaturedPosts 20 2}}
        {{range $index, $elmt := $itemlist}}
            <div class="single-slide {{if $index}} displaynone {{else}} displayblock {{end}}">
                {{with $thumbnail := GetPostThumbnail $elmt.ID}}
                    <figure class="slider-featured-image">
                        <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">
                            <img width="800" height="445" src="{{$thumbnail}}" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                        </a>
                    </figure>
                {{end}}
                <div class="slide-content">
                    <div class="above-entry-meta">
                        <span class="cat-links">
                            {{with $categories := GetCategoryOfPost $elmt.ID}}
                                {{range $categories}}
                                    <a href="/category?cat={{.TermId}}" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                                {{end}}
                            {{end}}
                        </span>
                    </div>
                    <h3 class="entry-title">
                        <a href="/post?p={{$elmt.ID}}" title="{{.PostTitle}}">{{$elmt.PostTitle}}</a>
                    </h3>
                    <div class="below-entry-meta">
                        <span class="posted-on">
                            <a href="###" title="{{.PostDate}}" rel="bookmark">
                                <i class="fa fa-calendar-o"></i>
                                <time class="entry-date published" datetime="{{.PostDate}}">{{$elmt.PostDate}}</time>
                            </a>
                        </span>
                        {{with $author := GetUser $elmt.PostAuthor}}
                            <span class="byline">
                                <span class="author vcard">
                                    <i class="fa fa-user"></i>
                                    <a class="url fn n" href="###" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a>
                                </span>
                            </span>
                        {{end}}
                        <span class="comments">
                            <i class="fa fa-comment"></i>
                            <span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span>
                        </span>
                    </div>
                </div>
            </div>
        {{end}}
    {{end}}
</div>
{{ end }}