{{ define "footer" }}
<!--<div class="footer-widgets-wrapper">-->
    <!--<div class="inner-wrap">-->
        <!--<div class="footer-widgets-area clearfix">-->
            <!--<div class="tg-footer-main-widget">-->
                <!--<div class="tg-first-footer-widget">-->
                    <!--<aside id="text-3" class="widget widget_text clearfix">-->
                        <!--<h3 class="widget-title"><span>About Us</span></h3>-->
                        <!--<div class="textwidget"><a title="COLORMAG" href="/"><img alt="COLORMAG" src="/static/img/logo.png"></a><br/>We love WordPress and we are here to provide you with professional looking WordPress themes so that you can take your website one step ahead. We focus on simplicity, elegant design and clean code.</div>-->
                    <!--</aside>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tg-footer-other-widgets">-->
                <!--<div class="tg-second-footer-widget">-->
                    <!--<aside id="text-5" class="widget widget_text clearfix">-->
                        <!--<h3 class="widget-title"><span>Useful Links</span></h3>-->
                        <!--<div class="textwidget">-->
                            <!--<ul>-->
                                <!--<li> <a href="http://themegrill.com/">ThemeGrill</a></li>-->
                                <!--<li> <a href="http://themegrill.com/support-forum/">Support</a></li>-->
                                <!--<li> <a href="http://themegrill.com/theme-instruction/colormag/">Documentation</a></li>-->
                                <!--<li> <a href="http://themegrill.com/frequently-asked-questions/">FAQ</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/">Themes</a></li>-->
                                <!--<li> <a href="http://themegrill.com/plugins/">Plugins</a></li>-->
                                <!--<li> <a href="http://themegrill.com/blog/">Blog</a></li>-->
                                <!--<li> <a href="http://themegrill.com/plans-pricing/">Plans & Pricing</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</aside>-->
                <!--</div>-->
                <!--<div class="tg-third-footer-widget">-->
                    <!--<aside id="text-4" class="widget widget_text clearfix">-->
                        <!--<h3 class="widget-title"><span>Other Themes</span></h3>-->
                        <!--<div class="textwidget">-->
                            <!--<ul>-->
                                <!--<li> <a href="http://themegrill.com/themes/envince/">Envince</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/estore/">eStore</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/ample/">Ample</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/spacious/">Spacious</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/accelerate/">Accelerate</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/radiate/">Radiate</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/esteem/">Esteem</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/himalayas/">Himalayas</a></li>-->
                                <!--<li> <a href="http://themegrill.com/themes/colornews/">ColorNews</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</aside>-->
                <!--</div>-->
                <!--<div class="tg-fourth-footer-widget">-->
                    <!--<aside id="colormag_300x250_advertisement_widget-6" class="widget widget_300x250_advertisement clearfix">-->
                        <!--<div class="advertisement_300x250">-->
                            <!--<div class="advertisement-title">-->
                                <!--<h3 class="widget-title"><span>ColorMag Pro</span></h3>-->
                            <!--</div>-->
                            <!--<div class="advertisement-content"><a href="http://demo.themegrill.com/colormag-pro/" class="single_ad_300x250" target="_blank" rel="nofollow">-->
                                <!--<img src="http://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/07/ad-color-mag-medium.jpg" width="300" height="250"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</aside>-->
                    <!--<aside id="text-6" class="widget widget_text clearfix">-->
                        <!--<div class="textwidget">Contains all features of free version and many new additional features.</div>-->
                    <!--</aside>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="footer-socket-wrapper clearfix">
    <div class="inner-wrap">
        <div class="footer-socket-area">
            <div class="footer-socket-right-section">
                <div class="social-links clearfix">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div><!-- .social-links -->
            </div>
            <div class="footer-socket-left-sectoin">
                <div class="copyright">Copyright &copy; 2017 <a href="https://demo.themegrill.com/colormag/" title="COLORMAG" ><span>COLORMAG</span></a>. All rights reserved.<br>Theme: ColorMag by <a href="http://themegrill.com/themes/colormag" target="_blank" title="ThemeGrill" rel="designer"><span>ThemeGrill</span></a>. Powered by <a href="http://wordpress.org" target="_blank" title="WordPress"><span>WordPress</span></a>.</div>
            </div>
        </div>
    </div>
</div>
{{ end }}