{{ define "header" }}
<div id="header-text-nav-container" class="clearfix">
    <!--<div class="news-bar">-->
        <!--<div class="inner-wrap clearfix">-->
            <!--<div class="date-in-header">Sunday, January 1, 2017</div>-->

            <!--<div class="breaking-news">-->
                <!--<strong class="breaking-news-latest">Latest:</strong>-->
                <!--<ul class="newsticker">-->
                    <!--<li><a href="https://demo.themegrill.com/colormag/2015/03/24/teens-use-apps-to-keep-secrets/" title="Teens use apps to keep secrets?">Teens use apps to keep secrets?</a></li>-->
                    <!--<li><a href="https://demo.themegrill.com/colormag/2015/03/24/fastest-plane-in-the-world/" title="Fastest plane in the world">Fastest plane in the world</a></li>-->
                    <!--<li><a href="https://demo.themegrill.com/colormag/2015/03/24/wireless-headphones-are-now-on-market/" title="Wireless Headphones are now on Market">Wireless Headphones are now on Market</a></li>-->
                    <!--<li><a href="https://demo.themegrill.com/colormag/2015/03/24/drones-being-used-to-monitor-wordcup/" title="Drones being used to monitor WordCup">Drones being used to monitor WordCup</a></li>-->
                    <!--<li><a href="https://demo.themegrill.com/colormag/2015/03/24/coffee-is-health-food-myth-or-fact/" title="Coffee is health food: Myth or fact?">Coffee is health food: Myth or fact?</a></li>-->
                <!--</ul>-->
            <!--</div>-->

            <!--<div class="social-links clearfix">-->
                <!--<ul>-->
                    <!--<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
                    <!--<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                    <!--<li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>-->
                    <!--<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>-->
                    <!--<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>-->
                    <!--<li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; .social-links &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->


    <div class="inner-wrap">
        <div id="header-text-nav-wrap" class="clearfix">
            <div id="header-left-section">
                <div id="header-logo-image">
                    <a href="/" class="custom-logo-link" rel="home" itemprop="url"><img width="265" height="90" src="/static/img/logo.png" class="custom-logo" alt="" itemprop="logo" /></a>
                </div>
                <div id="header-text" class="screen-reader-text">
                    <h1 id="site-title">
                        <a href="/" title="COLORMAG" rel="home">COLORMAG</a>
                    </h1>
                    <p id="site-description">Glogchain</p>
                </div>
            </div>
            <div id="header-right-section">
                <div id="header-right-sidebar" class="clearfix">{{ template "widget_728x90_advertisement" }}</div>
            </div>
        </div>
    </div>


    <nav id="site-navigation" class="main-navigation clearfix" role="navigation">
        <div class="inner-wrap clearfix">
            <div class="home-icon front_page_on">
                <a href="/" title="COLORMAG"><i class="fa fa-home"></i></a>
            </div>
            <h4 class="menu-toggle"></h4>
            <div class="menu-primary-container">
                <ul id="menu-primary" class="menu">
                    {{with $itemlist := GetTopCategories 5}}
                        {{range $index, $elmt := $itemlist}}
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/category?cat={{$elmt.ID}}">{{$elmt.ID}}</a></li>
                        {{end}}
                    {{end}}

                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#">BlockExplorer</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/blockexplorer/status">Status</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/blockexplorer/netinfo">NetInfo</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/blockexplorer/dump_consensus_state">ConsensusState</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/blockexplorer/block">BlockInfo</a></li>
                        </ul>
                    </li>

                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#">Test</a>
                        <ul class="sub-menu">
                            <!--<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/test/webtorrent">WebTorrent</a></li>-->
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/test/ipfs">IPFS</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/test/steem_getpost">Steem GetPost</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="random-post">
                <ul>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#">Profile</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/wallet/view">My Wallet</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/account/create">Create Account</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/login">Login</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/logout">Logout</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/post/create">Create Post</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--<div class="random-post"><a href="###" title="View a random post"><i class="fa fa-random"></i></a></div>-->
            <!--<i class="fa fa-search search-top"></i>-->
            <!--<div class="search-form-top">-->
                <!--<form action="/" class="search-form searchform clearfix" method="get">-->
                    <!--<div class="search-wrap">-->
                        <!--<input type="text" placeholder="Search" class="s field" name="s">-->
                        <!--<button class="search-icon" type="submit"></button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->

        </div>
    </nav>

</div>

{{ end }}