{{ define "highlighted_posts" }}
<div class="widget_highlighted_post_area">
    {{with $itemlist := GetPostsByCategory "research" 0 4}}
        {{range $index, $elmt := $itemlist}}
            <div class="single-article">
                <figure class="highlights-featured-image" style="height: 170px;">
                    <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">
                        <img style="" src="{{$elmt.Thumb}}" class="attachment-colormag-highlighted-post size-colormag-highlighted-post wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                    </a>
                </figure>
                <div class="article-content">
                    <div class="above-entry-meta">
                        <span class="cat-links">
                            {{with $categories := GetCategoryOfPost $elmt.Cat}}
                                {{range $categories}}
                                    <a href="/category?cat={{.ID}}" style="background:#a38a6d" rel="category tag">{{.ID}}</a>&nbsp;
                                {{end}}
                            {{end}}
                        </span>
                    </div>
                    <h3 class="entry-title">
                        <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                    </h3>
                    <div class="below-entry-meta">
                        <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                        {{with $author := GetUser $elmt.PostAuthor}}
                            <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="###" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a></span></span>
                        {{end}}
                        <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                    </div>
                </div>
            </div>
        {{end}}
    {{end}}
</div>

{{ end }}