<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glogchain</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel='stylesheet' id='colormag_google_fonts-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C600&#038;ver=e032debb15a9c586d1f671f79d8c9abe' type='text/css' media='all' />
    <link rel='stylesheet' id='colormag_style-css'  href='/static/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='colormag-fontawesome-css'  href='/static/fontawesome/css/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' id='colormag-featured-image-popup-css-css'  href='/static/js/magnific-popup/magnific-popup.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/static/js/simplemde/simplemde.min.css" media='all'>
    <script type='text/javascript' src='/static/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/static/js/jquery/jquery-migrate.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/static/js/colormag-custom.js'></script>
    <!--[if lte IE 8]>
    <script type='text/javascript' src='/static/js/html5shiv.min.js'></script>
    <![endif]-->
    <script type='text/javascript' src="/static/js/simplemde/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
</head>

<body class="home blog wp-custom-logo ">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header clearfix">
        {{ template "header" }}
    </header>
    <div id="main" class="clearfix">
        <div class="inner-wrap clearfix">
            {{ template "content" . }}
        </div><!-- .inner-wrap -->
    </div><!-- #main -->
    <footer id="colophon" class="clearfix">
        {{ template "footer" }}
    </footer>
    <a href="#masthead" id="scroll-up"><i class="fa fa-chevron-up"></i></a>
</div><!-- #page -->
<!--<div style="display:none">-->
<!--</div>-->

<script type='text/javascript' src='/static/js/jquery.bxslider.min.js'></script>
<script type='text/javascript' src='/static/js/colormag-slider-setting.js'></script>
<script type='text/javascript' src='/static/js/navigation.js'></script>
<script type='text/javascript' src='/static/js/news-ticker/jquery.newsTicker.min.js'></script>
<script type='text/javascript' src='/static/js/news-ticker/ticker-setting.js'></script>
<script type='text/javascript' src='/static/js/sticky/jquery.sticky.js'></script>
<script type='text/javascript' src='/static/js/sticky/sticky-setting.js'></script>
<script type='text/javascript' src='/static/js/magnific-popup/jquery.magnific-popup.min.js'></script>
<script type='text/javascript' src='/static/js/magnific-popup/image-popup-setting.js'></script>
<script type='text/javascript' src='/static/js/fitvids/jquery.fitvids.js'></script>
<script type='text/javascript' src='/static/js/fitvids/fitvids-setting.js'></script>

<script type='text/javascript' src='/static/js/glogchain.js'></script>
</body>
</html>