{{ define "content" }}
<div class="main-content-section clearfix">
    <div id="primary">

        <h3>Edit Post</h3>
        <p>Edit existing post</p>
        {{ $DataType := GetType . }}
        {{ if eq $DataType "web.ActionResult" }}
            {{ if eq .Status "success" }}
                <div class="alert alert-success" role="alert">Account created successful!</div>
            {{ else }}
                <div class="alert alert-danger" role="alert">{{ .Message }}</div>
            {{ end }}
        {{ end }}
        <form action="/post/edit?p={{.Data.ID}}" method="POST">
            <p>
                <label for="Title">Title <span class="required">*</span></label>
                <input id="Title" name="Title" type="text" value='{{ .Data.PostTitle }}' aria-required="true" required="required">
            </p>
            <p>
                <label for="PostContent">Content <span class="required">*</span></label>
                <textarea id="PostContent" name="PostContent" rows="8" aria-required="true" required="required">{{ .Data.PostContent }}</textarea>
            </p>
            <p>
                <label for="Thumb">Feature Image <span class="required">*</span></label>
                <input id="Thumb" name="Thumb" type="text" value='{{ .Data.Thumb }}' aria-required="true" required="required">
            </p>
            <p>
                <label for="Categories">Categories ( in json array format ) eg: ["cat", "dog"]</label>
                <input id="Categories" name="Categories" type="text" value='{{ .Data.Cat }}' aria-required="true" required="required">
            </p>
            <p class="form-submit">
                <input id="submit" name="submit" type="submit" class="submit" value="Submit">
            </p>
        </form>

    </div>

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>
{{ end }}