{{ define "content" }}
<div class="main-content-section clearfix">
    <div id="primary">

        <h3>Create a new Post</h3>
        <p>Test creating new post</p>

        <form action="/post/create/save" method="POST">
            <div>
                <label for="Title">Title:</label>
                <input type="text" id="Title" name="Title" />
            </div>
            <div>
                <label for="Body">Body:</label>
                <div><textarea id="Body" name="Body" rows="20"></textarea></div>
            </div>

            <div><input type="submit" value="Save"></div>
        </form>

    </div>

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>
{{ end }}