{{ define "primary" }}
<div id="content" class="clearfix">

    <section id="colormag_featured_posts_widget-3" class="widget widget_featured_posts widget_featured_meta clearfix">
        <h3 class="widget-title" style="border-bottom-color:#81d742;"><span style="background-color:#81d742;">Health</span></h3>

        {{with $itemlist := GetFeaturedPosts 3 5}}
            {{range $index, $elmt := $itemlist}}
                {{if $index}}
                    {{if eq $index 1}}
                        <div class="following-post">
                    {{end}}

                    <div class="single-article clearfix">
                        {{with $thumbnail := GetPostThumbnail $elmt.ID}}
                            <figure style="width: 130px; height: 90px;">
                                <a href="###" title="{{$elmt.PostTitle}}">
                                    <img style="" src="{{$thumbnail}}" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                                </a>
                            </figure>
                        {{end}}
                        <div class="article-content">
                            <div class="above-entry-meta">
                                <span class="cat-links">
                                    {{with $categories := GetCategoryOfPost $elmt.ID}}
                                        {{range $categories}}
                                            <a href="###" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                                        {{end}}
                                    {{end}}
                                </span>
                            </div>
                            <h3 class="entry-title">
                                <a href="###" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                            </h3>
                            <div class="below-entry-meta">
                                <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                                <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="https://demo.themegrill.com/colormag/author/demothemegrill/" title="TG-Demo Team">TG-Demo Team</a></span></span>
                                <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                            </div>
                        </div>
                    </div>

                    {{if eq $index 4}}
                        </div>
                    {{end}}
                {{else}}
                    <div class="first-post">
                        <div class="single-article clearfix">
                            {{with $thumbnail := GetPostThumbnail $elmt.ID}}
                            <figure>
                                <a href="###" title="{{$elmt.PostTitle}}">
                                    <img style="width: 390px; height: 205px" src="{{$thumbnail}}" class="attachment-colormag-featured-post-medium size-colormag-featured-post-medium wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                                </a>
                            </figure>
                            {{end}}
                            <div class="article-content">
                                <div class="above-entry-meta">
                                            <span class="cat-links">
                                                {{with $categories := GetCategoryOfPost $elmt.ID}}
                                                    {{range $categories}}
                                                        <a href="###" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                                                    {{end}}
                                                {{end}}
                                            </span>
                                </div>
                                <h3 class="entry-title">
                                    <a href="###" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                                </h3>
                                <div class="below-entry-meta">
                                    <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                                    {{with $author := GetUser $elmt.PostAuthor}}
                                        <span class="byline">
                                            <span class="author vcard">
                                                <i class="fa fa-user"></i>
                                                <a class="url fn n" href="###" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a>
                                            </span>
                                        </span>
                                    {{end}}
                                    <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                                </div>
                                <div class="entry-content">
                                    <p>Vivamus vestibulum ut magna vitae facilisis. Maecenas laoreet lobortis tristique. Aenean accumsan malesuada convallis. Suspendisse egestas luctus nisl, sit amet</p>
                                </div>
                            </div>

                        </div>
                    </div>
                {{end}}

            {{end}}
        {{end}}
    </section>


    <div class="tg-one-half">
        <section id="colormag_featured_posts_vertical_widget-3" class="widget widget_featured_posts widget_featured_posts_vertical widget_featured_meta clearfix">
            <h3 class="widget-title" style="border-bottom-color:#bd4cce;"><span style="background-color:#bd4cce;">FASHION</span></h3>

            {{with $itemlist := GetFeaturedPosts 7 4}}
                {{range $index, $elmt := $itemlist}}
                    {{if $index}}
                        {{if eq $index 1}}
                            <div class="following-post">
                        {{end}}

                        <div class="single-article clearfix">
                            {{with $thumbnail := GetPostThumbnail $elmt.ID}}
                                <figure>
                                    <a href="###" title="{{$elmt.PostTitle}}">
                                        <img style="width: 130px; height: 90px;" src="{{$thumbnail}}" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                                    </a>
                                </figure>
                            {{end}}
                            <div class="article-content">
                                <div class="above-entry-meta">
                                    <span class="cat-links">
                                        {{with $categories := GetCategoryOfPost $elmt.ID}}
                                            {{range $categories}}
                                                <a href="###" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                                            {{end}}
                                        {{end}}
                                    </span>
                                </div>
                                <h3 class="entry-title">
                                    <a href="###" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                                </h3>
                                <div class="below-entry-meta">
                                    <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                                    {{with $author := GetUser $elmt.PostAuthor}}
                                        <span class="byline">
                                            <span class="author vcard">
                                                <i class="fa fa-user"></i>
                                                <a class="url fn n" href="###" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a>
                                            </span>
                                        </span>
                                    {{end}}
                                    <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                                </div>
                            </div>
                        </div>

                        {{if eq $index 3}}
                            </div>
                        {{end}}
                    {{else}}
                        <div class="first-post">
                            <div class="single-article clearfix">
                                {{with $thumbnail := GetPostThumbnail $elmt.ID}}
                                    <figure>
                                        <a href="###" title="{{$elmt.PostTitle}}">
                                            <img width="390" height="205" src="{{$thumbnail}}" class="attachment-colormag-featured-post-medium size-colormag-featured-post-medium wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                                        </a>
                                    </figure>
                                {{end}}
                                <div class="article-content">
                                    <div class="above-entry-meta">
                                        <span class="cat-links">
                                            {{with $categories := GetCategoryOfPost $elmt.ID}}
                                                {{range $categories}}
                                                    <a href="###" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                                                {{end}}
                                            {{end}}
                                        </span>
                                    </div>
                                    <h3 class="entry-title">
                                        <a href="###" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                                    </h3>
                                <div class="below-entry-meta">
                                    <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                                    {{with $author := GetUser $elmt.PostAuthor}}
                                        <span class="byline">
                                            <span class="author vcard">
                                                <i class="fa fa-user"></i>
                                                <a class="url fn n" href="###" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a>
                                            </span>
                                        </span>
                                    {{end}}
                                    <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                                </div>
                                <div class="entry-content">
                                    <p>For Joesendra, this is only her second fashion week showing, following her presentation at a Fashion World on this January.</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    {{end}}
                {{end}}
            {{end}}
        </section>
    </div>


    <div class="tg-one-half tg-one-half-last">
        <section id="colormag_featured_posts_vertical_widget-4" class="widget widget_featured_posts widget_featured_posts_vertical widget_featured_meta clearfix">
            <h3 class="widget-title" style="border-bottom-color:#bd4cce;"><span style="background-color:#bd4cce;">SPORTS</span></h3>

            {{with $itemlist := GetFeaturedPosts 18 4}}
            {{range $index, $elmt := $itemlist}}
            {{if $index}}
            {{if eq $index 1}}
            <div class="following-post">
                {{end}}

                <div class="single-article clearfix">
                    {{with $thumbnail := GetPostThumbnail $elmt.ID}}
                    <figure>
                        <a href="###" title="{{$elmt.PostTitle}}">
                            <img style="width: 130px; height: 90px;" src="{{$thumbnail}}" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                        </a>
                    </figure>
                    {{end}}
                    <div class="article-content">
                        <div class="above-entry-meta">
                                    <span class="cat-links">
                                        {{with $categories := GetCategoryOfPost $elmt.ID}}
                                            {{range $categories}}
                                                <a href="###" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                                            {{end}}
                                        {{end}}
                                    </span>
                        </div>
                        <h3 class="entry-title">
                            <a href="###" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                        </h3>
                        <div class="below-entry-meta">
                            <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                            {{with $author := GetUser $elmt.PostAuthor}}
                            <span class="byline">
                                            <span class="author vcard">
                                                <i class="fa fa-user"></i>
                                                <a class="url fn n" href="###" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a>
                                            </span>
                                        </span>
                            {{end}}
                            <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                        </div>
                    </div>
                </div>

                {{if eq $index 3}}
            </div>
            {{end}}
            {{else}}
            <div class="first-post">
                <div class="single-article clearfix">
                    {{with $thumbnail := GetPostThumbnail $elmt.ID}}
                    <figure>
                        <a href="###" title="{{$elmt.PostTitle}}">
                            <img width="390" height="205" src="{{$thumbnail}}" class="attachment-colormag-featured-post-medium size-colormag-featured-post-medium wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                        </a>
                    </figure>
                    {{end}}
                    <div class="article-content">
                        <div class="above-entry-meta">
                                        <span class="cat-links">
                                            {{with $categories := GetCategoryOfPost $elmt.ID}}
                                                {{range $categories}}
                                                    <a href="###" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                                                {{end}}
                                            {{end}}
                                        </span>
                        </div>
                        <h3 class="entry-title">
                            <a href="###" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                        </h3>
                        <div class="below-entry-meta">
                            <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                            {{with $author := GetUser $elmt.PostAuthor}}
                            <span class="byline">
                                            <span class="author vcard">
                                                <i class="fa fa-user"></i>
                                                <a class="url fn n" href="###" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a>
                                            </span>
                                        </span>
                            {{end}}
                            <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                        </div>
                        <div class="entry-content">
                            <p>For Joesendra, this is only her second fashion week showing, following her presentation at a Fashion World on this January.</p>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            {{end}}
            {{end}}
        </section>
    </div>


    <div class="clearfix"></div>
    <section id="colormag_728x90_advertisement_widget-11" class="widget widget_728x90_advertisement clearfix">
        <div class="advertisement_728x90">
            <div class="advertisement-content"><img src="http://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/72890-ad1.jpg" width="728" height="90"></div>
        </div>
    </section>
    <section id="colormag_featured_posts_widget-4" class="widget widget_featured_posts widget_featured_meta clearfix">
        <h3 class="widget-title" style="border-bottom-color:#777fce;"><span style="background-color:#777fce;">Technology</span></h3>
        <p> Check out technology changing the life. </p>
        <div class="first-post">
            <div class="single-article clearfix">
                <figure><a href="https://demo.themegrill.com/colormag/2015/03/24/teens-use-apps-to-keep-secrets/" title="Teens use apps to keep secrets?"><img width="390" height="205" src="https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/iphone-500291_1280-390x205.jpg" class="attachment-colormag-featured-post-medium size-colormag-featured-post-medium wp-post-image" alt="Teens use apps to keep secrets?" title="Teens use apps to keep secrets?" /></a></figure>                  <div class="article-content">
                <div class="above-entry-meta"><span class="cat-links"><a href="https://demo.themegrill.com/colormag/category/entertainment/" style="background:#e8357c" rel="category tag">Entertainment</a>&nbsp;<a href="https://demo.themegrill.com/colormag/category/gadgets/" style="background:#82ada1" rel="category tag">Gadgets</a>&nbsp;<a href="https://demo.themegrill.com/colormag/category/news/" style="background:#bfd6af" rel="category tag">News</a>&nbsp;<a href="https://demo.themegrill.com/colormag/category/technology/" style="background:#777fce" rel="category tag">Technology</a>&nbsp;</span></div>                     <h3 class="entry-title">
                <a href="https://demo.themegrill.com/colormag/2015/03/24/teens-use-apps-to-keep-secrets/" title="Teens use apps to keep secrets?">Teens use apps to keep secrets?</a>
            </h3>
                <div class="below-entry-meta">
                    <span class="posted-on"><a href="https://demo.themegrill.com/colormag/2015/03/24/teens-use-apps-to-keep-secrets/" title="11:24 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-24T11:24:33+00:00">March 24, 2015</time></a></span>                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="https://demo.themegrill.com/colormag/author/demothemegrill/" title="TG-Demo Team">TG-Demo Team</a></span></span>
                    <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on Teens use apps to keep secrets?</span></span></span>
                </div>
                <div class="entry-content">
                    <p>Cras accumsan elit augue, sit amet vestibulum turpis fringilla nec. Etiam eu dictum tortor. Sed feugiat lacus non ultricies pulvinar.</p>
                </div>
            </div>
            </div>
        </div>
        <div class="following-post">
            <div class="single-article clearfix">
                <figure><a href="https://demo.themegrill.com/colormag/2015/03/24/fastest-plane-in-the-world/" title="Fastest plane in the world"><img width="130" height="90" src="https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/supersonic-fighter-63211_1280-130x90.jpg" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="Fastest plane in the world" title="Fastest plane in the world" srcset="https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/supersonic-fighter-63211_1280-130x90.jpg 130w, https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/supersonic-fighter-63211_1280-392x272.jpg 392w" sizes="(max-width: 130px) 100vw, 130px" /></a></figure>
                <div class="article-content">
                    <div class="above-entry-meta">
                                            <span class="cat-links">
                                                <a href="https://demo.themegrill.com/colormag/category/entertainment/" style="background:#e8357c" rel="category tag">Entertainment</a>&nbsp;
                                                <a href="https://demo.themegrill.com/colormag/category/news/" style="background:#bfd6af" rel="category tag">News</a>&nbsp;
                                                <a href="https://demo.themegrill.com/colormag/category/technology/" style="background:#777fce" rel="category tag">Technology</a>&nbsp;
                                            </span>
                    </div>
                    <h3 class="entry-title">
                        <a href="https://demo.themegrill.com/colormag/2015/03/24/fastest-plane-in-the-world/" title="Fastest plane in the world">Fastest plane in the world</a>
                    </h3>
                    <div class="below-entry-meta">
                        <span class="posted-on"><a href="https://demo.themegrill.com/colormag/2015/03/24/fastest-plane-in-the-world/" title="11:23 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-24T11:23:20+00:00">March 24, 2015</time></a></span>                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="https://demo.themegrill.com/colormag/author/demothemegrill/" title="TG-Demo Team">TG-Demo Team</a></span></span>
                        <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on Fastest plane in the world</span></span></span>
                    </div>
                </div>

            </div>
            <div class="single-article clearfix">
                <figure><a href="https://demo.themegrill.com/colormag/2015/03/24/wireless-headphones-are-now-on-market/" title="Wireless Headphones are now on Market"><img width="130" height="90" src="https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/headphones-15600_1280-130x90.jpg" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="Wireless Headphones are now on Market" title="Wireless Headphones are now on Market" srcset="https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/headphones-15600_1280-130x90.jpg 130w, https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/headphones-15600_1280-392x272.jpg 392w" sizes="(max-width: 130px) 100vw, 130px" /></a></figure>
                <div class="article-content">
                    <div class="above-entry-meta">
                                            <span class="cat-links">
                                                <a href="https://demo.themegrill.com/colormag/category/entertainment/" style="background:#e8357c" rel="category tag">Entertainment</a>&nbsp;
                                                <a href="https://demo.themegrill.com/colormag/category/gadgets/" style="background:#82ada1" rel="category tag">Gadgets</a>&nbsp;
                                                <a href="https://demo.themegrill.com/colormag/category/style/" style="background:#b17fe2" rel="category tag">Style</a>&nbsp;
                                                <a href="https://demo.themegrill.com/colormag/category/technology/" style="background:#777fce" rel="category tag">Technology</a>&nbsp;
                                            </span>
                    </div>
                    <h3 class="entry-title">
                        <a href="https://demo.themegrill.com/colormag/2015/03/24/wireless-headphones-are-now-on-market/" title="Wireless Headphones are now on Market">Wireless Headphones are now on Market</a>
                    </h3>
                    <div class="below-entry-meta">
                        <span class="posted-on"><a href="https://demo.themegrill.com/colormag/2015/03/24/wireless-headphones-are-now-on-market/" title="11:11 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-24T11:11:40+00:00">March 24, 2015</time></a></span>                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="https://demo.themegrill.com/colormag/author/demothemegrill/" title="TG-Demo Team">TG-Demo Team</a></span></span>
                        <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on Wireless Headphones are now on Market</span></span></span>
                    </div>
                </div>

            </div>
            <div class="single-article clearfix">
                <figure><a href="https://demo.themegrill.com/colormag/2015/03/24/drones-being-used-to-monitor-wordcup/" title="Drones being used to monitor WordCup"><img width="130" height="90" src="https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/drone-674238_1280-130x90.jpg" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="Drones being used to monitor WordCup" title="Drones being used to monitor WordCup" srcset="https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/drone-674238_1280-130x90.jpg 130w, https://demo.themegrill.com/colormag/wp-content/uploads/sites/20/2015/03/drone-674238_1280-392x272.jpg 392w" sizes="(max-width: 130px) 100vw, 130px" /></a></figure>
                <div class="article-content">
                    <div class="above-entry-meta">
                                            <span class="cat-links">
                                                <a href="https://demo.themegrill.com/colormag/category/gadgets/" style="background:#82ada1" rel="category tag">Gadgets</a>&nbsp;
                                                <a href="https://demo.themegrill.com/colormag/category/news/" style="background:#bfd6af" rel="category tag">News</a>&nbsp;
                                                <a href="https://demo.themegrill.com/colormag/category/style/" style="background:#b17fe2" rel="category tag">Style</a>&nbsp;
                                                <a href="https://demo.themegrill.com/colormag/category/technology/" style="background:#777fce" rel="category tag">Technology</a>&nbsp;
                                            </span>
                    </div>
                    <h3 class="entry-title">
                        <a href="https://demo.themegrill.com/colormag/2015/03/24/drones-being-used-to-monitor-wordcup/" title="Drones being used to monitor WordCup">Drones being used to monitor WordCup</a>
                    </h3>
                    <div class="below-entry-meta">
                        <span class="posted-on"><a href="https://demo.themegrill.com/colormag/2015/03/24/drones-being-used-to-monitor-wordcup/" title="11:00 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-24T11:00:45+00:00">March 24, 2015</time></a></span>                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="https://demo.themegrill.com/colormag/author/demothemegrill/" title="TG-Demo Team">TG-Demo Team</a></span></span>
                        <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on Drones being used to monitor WordCup</span></span></span>
                    </div>
                </div>
            </div>
        </div>      <!-- </div> -->
    </section>
</div>
{{ end }}