{{ define "content" }}
<div class="main-content-section clearfix">
    <div id="primary">
        <div id="content" class="clearfix">
            {{ $post := .Data }}
            <article class="post type-post status-publish format-standard has-post-thumbnail hentry">
                <div class="featured-image">
                    <img width="800" height="445" src="{{$post.Thumb}}" class="attachment-colormag-featured-image size-colormag-featured-image wp-post-image" alt="">
                </div>
                <div class="article-content clearfix">

                    <div class="above-entry-meta">
                        <span class="cat-links">
                        {{ $categories := GetCategoryOfPost $post.Cat}}
                        {{range $categories}}
                            <a href="/?cat={{.ID}}" rel="category tag">{{.ID}}</a>&nbsp;
                        {{end}}
                        </span>
                    </div>

                    <header class="entry-header"><h1 class="entry-title">{{ $post.PostTitle }}</h1></header>

                    <div class="below-entry-meta">
                        <span class="posted-on"><a href="###" title="{{$post.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$post.PostDate}}">{{$post.PostDate}}</time></a></span>
                        {{ $author := GetUser $post.PostAuthor}}
                        <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="?author={{$author.ID}}" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a></span></span>
                        <!--<span class="comments"><a href="###respond"><i class="fa fa-comment"></i> Comment</a></span>-->
                        {{ $currentUser := index .SessionValues "user"}}
                        {{if $currentUser.ID}}
                            {{if eq $author.ID $currentUser.ID}}
                                <span class="edit-link"><i class="fa fa-edit"></i><a class="post-edit-link" href="/post/edit?p={{$post.ID}}">Edit</a></span>
                            {{end}}
                        {{end}}
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/test/steem_posting?p={{$post.ID}}">SteemIt</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="entry-content clearfix">
                        <textarea id="PostContent" name="PostContent">{{ $post.PostContent }}</textarea>
                    </div>

                </div>
            </article>
        </div>


        <!--<ul class="default-wp-page clearfix">-->
            <!--<li class="previous"><a href="http://localhost/wordpress/?p=170" rel="prev"><span class="meta-nav">←</span> De Spain preparations</a></li>-->
            <!--<li class="next"><a href="http://localhost/wordpress/?p=158" rel="next">One of the most awesome Tourist destination <span class="meta-nav">→</span></a></li>-->
        <!--</ul>-->

        <p><i class="fa fa-reply"></i> <a rel="nofollow" class="comment-reply-link" href="/comment/create?p={{ $post.ID }}" aria-label="Reply to a">Reply</a></p>

        <div id="comments" class="comments-area">
            <h3 class="comments-title">Comments on “<span>{{ $post.PostTitle }}</span>”</h3>
            <ul class="comment-list">
                {{ $comments := GetCommentsByPost $post.ID "" }}
                {{range $index, $comment := $comments}}
                    {{ template "display_comment" $comment }}
                {{end}}
            </ul>
        </div>


    </div>

    <div id="secondary">
        {{ template "secondary"}}
    </div>
</div>


<script type='text/javascript'>
    jQuery(document).ready(function(){
        single_post_md_parse(); // call this before loadTorrent
        loadTorrent();
    });
</script>


{{ end }}


{{ define "display_comment" }}
    {{ $comment := . }}
    {{ $author := GetUser $comment.Author}}
    <li class="comment even thread-even">
        <article class="comment">
            <header class="comment-meta comment-author vcard">
                <img alt="" src="https://secure.gravatar.com/avatar/c9edf70098f8c270a022a29f0a2c876f?s=74&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/c9edf70098f8c270a022a29f0a2c876f?s=148&amp;d=mm&amp;r=g 2x" class="avatar avatar-74 photo" height="74" width="74">
                <div class="comment-author-link"><i class="fa fa-user"></i><a href="/?author={{$author.ID}}">{{$author.DisplayName}}</a></div>
                <div class="comment-date-time"><i class="fa fa-calendar-o"></i>{{ $comment.Date }}</div>
                <!--<a class="comment-permalink" href="###"><i class="fa fa-link"></i>Permalink</a>-->
            </header>
            <section class="comment-content comment">
                <div class="comment-container">
                    <textarea>{{ $comment.Content }}</textarea>
                </div>
                <a rel="nofollow" class="comment-reply-link" href="/comment/create?p={{ $comment.PostID }}&c={{ $comment.ID }}" aria-label="Reply to a">Reply</a>
            </section>
        </article>

        {{ $comments := GetCommentsByPost $comment.PostID $comment.ID }}
        {{ $length := len $comments }}
        {{ if ne $length 0 }}
            <ul class="children">
                {{range $index, $sub_comment := $comments}}
                {{ template "display_comment" $sub_comment }}
                {{end}}
            </ul>
        {{ end }}
    </li>
{{ end }}