{{ define "widget_featured_posts" }}
<section class="widget widget_featured_posts widget_featured_meta clearfix">
    <h3 class="widget-title" style="border-bottom-color:#a38a6d;"><span style="background-color:#a38a6d;">{{.Category}}</span></h3>

    {{with $itemlist := GetPostsByCategory .CategoryId 0 5}}
    {{range $index, $elmt := $itemlist}}
    {{if $index}}
    {{if eq $index 1}}
    <div class="following-post">
        {{end}}

        <div class="single-article clearfix">
            <figure style="width: 130px; height: 90px;">
                <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">
                    <img style="" src="{{$elmt.Thumb}}" class="attachment-colormag-featured-post-small size-colormag-featured-post-small wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                </a>
            </figure>
            <div class="article-content">
                <div class="above-entry-meta">
                    <span class="cat-links">
                        {{with $categories := GetCategoryOfPost $elmt.ID}}
                            {{range $categories}}
                                <a href="/category?cat={{.ID}}" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                            {{end}}
                        {{end}}
                    </span>
                </div>
                <h3 class="entry-title">
                    <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                </h3>
                <div class="below-entry-meta">
                    <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                    <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="https://demo.themegrill.com/colormag/author/demothemegrill/" title="TG-Demo Team">TG-Demo Team</a></span></span>
                    <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                </div>
            </div>
        </div>

        {{if eq $index 4}}
    </div>
    {{end}}
    {{else}}
    <div class="first-post">
        <div class="single-article clearfix">
            <figure>
                <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">
                    <img style="width: 390px; height: 205px" src="{{$elmt.Thumb}}" class="attachment-colormag-featured-post-medium size-colormag-featured-post-medium wp-post-image" alt="{{$elmt.PostTitle}}" title="{{$elmt.PostTitle}}" />
                </a>
            </figure>
            <div class="article-content">
                <div class="above-entry-meta">
                    <span class="cat-links">
                        {{with $categories := GetCategoryOfPost $elmt.ID}}
                            {{range $categories}}
                                <a href="/category?cat={{.ID}}" style="background:#a38a6d" rel="category tag">{{.Name}}</a>&nbsp;
                            {{end}}
                        {{end}}
                    </span>
                </div>
                <h3 class="entry-title">
                    <a href="/post?p={{$elmt.ID}}" title="{{$elmt.PostTitle}}">{{$elmt.PostTitle}}</a>
                </h3>
                <div class="below-entry-meta">
                    <span class="posted-on"><a href="###" title="{{$elmt.PostDate}}" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="{{$elmt.PostDate}}">{{$elmt.PostDate}}</time></a></span>
                    {{with $author := GetUser $elmt.PostAuthor}}
                    <span class="byline">
                        <span class="author vcard">
                            <i class="fa fa-user"></i>
                            <a class="url fn n" href="###" title="{{$author.DisplayName}}">{{$author.DisplayName}}</a>
                        </span>
                    </span>
                    {{end}}
                    <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on {{$elmt.PostTitle}}</span></span></span>
                </div>
                <div class="entry-content">
                    <p>{{StringCut .PostContent 160 }}</p>
                </div>
            </div>

        </div>
    </div>
    {{end}}

    {{end}}
    {{end}}
</section>
{{end}}